In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
filename = 'train.csv'

In [3]:
df = pd.read_csv(filename)

In [4]:
df.head(10)

,id,b0,b1,b2,b3,b4,b5,b6,b7,b8,...,b93,time,a0,a1,a2,a3,a4,a5,a6,label
0,1,9.67,0.70,0.0,1023.28,12687.0,0.00,4.0,77.07,121.12,...,42.0,0,1,0,0,0,0,0,0,26.92
1,2,16.75,0.00,0.0,311.77,15420.0,0.00,4.0,100.72,198.03,...,40.0,0,0,1,0,0,0,0,0,40.25
2,3,14.93,0.00,0.0,233.10,13739.0,0.47,4.0,33.70,186.82,...,39.0,0,0,0,1,0,0,0,0,24.20
3,4,12.00,0.00,0.0,315.02,12290.0,0.20,4.0,29.63,122.65,...,46.0,0,0,0,0,1,0,0,0,26.80
4,5,17.00,0.00,0.0,208.07,14761.0,0.00,4.0,34.20,182.57,...,39.0,0,0,0,0,0,1,0,0,19.63
5,6,9.05,0.00,0.0,38.20,7234.0,0.00,4.0,0.00,98.10,...,37.0,0,0,0,0,0,0,1,0,5.50
6,7,15.78,0.00,0.0,377.23,11207.0,0.00,4.0,31.72,205.15,...,39.0,0,0,0,0,0,0,0,1,24.93
7,8,0.60,0.65,0.0,290.35,12687.0,0.00,6.0,84.52,121.58,...,42.0,1,1,0,0,0,0,0,0,19.27
8,9,2.18,0.00,0.0,341.53,15420.0,0.00,5.0,116.70,188.20,...,40.0,1,0,1,0,0,0,0,0,23.92
9,10,3.15,0.00,0.0,249.85,13739.0,0.13,5.0,29.67,172.90,...,39.0,1,0,0,1,0,0,0,0,22.77

In [5]:
df.isnull().any().any()

False

In [6]:
df_dtype_nunique = pd.concat([df.dtypes, df.nunique()],axis=1)
df_dtype_nunique.columns = ["dtype","unique"]
df_dtype_nunique

         dtype  unique
id       int64  161168
b0     float64    1378
b1     float64     501
b2     float64       4
b3     float64   31632
...        ...     ...
a3       int64       2
a4       int64       2
a5       int64       2
a6       int64       2
label  float64    4554

[104 rows x 2 columns]

In [7]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
features=85
data=df.drop(columns=['label','id'])
sel = SelectKBest(f_regression, k=features)
sel.fit_transform(data,y=df['label'])
columns=sel.get_support(indices=True)
print(columns.size)
columns=data.iloc[:,columns].columns.to_list()
columns.insert(0, "id")
columns.append("label")
print(columns)
df=df[columns]
df.head()
print(df.shape)

85
['id', 'b0', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9', 'b11', 'b14', 'b15', 'b16', 'b18', 'b19', 'b20', 'b21', 'b22', 'b23', 'b24', 'b25', 'b27', 'b28', 'b29', 'b30', 'b31', 'b32', 'b33', 'b34', 'b35', 'b36', 'b37', 'b38', 'b41', 'b42', 'b43', 'b45', 'b47', 'b48', 'b49', 'b50', 'b51', 'b52', 'b53', 'b55', 'b56', 'b57', 'b59', 'b60', 'b62', 'b63', 'b64', 'b65', 'b66', 'b67', 'b69', 'b70', 'b71', 'b73', 'b74', 'b75', 'b76', 'b77', 'b78', 'b79', 'b80', 'b83', 'b84', 'b85', 'b87', 'b88', 'b89', 'b90', 'b91', 'b92', 'b93', 'time', 'a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'label']
(161168, 87)

In [8]:
split=True
par = 5
categorical_features = list()
numerical_features = list()
for column in df.drop(columns=['id','label']):
    uniques = df[column].unique().size
    if(df[column].unique().size == 1):
        df.drop(columns=[column])
        print("dropped %s" % column)
    elif split :
        if ((df[column]-df[column].astype(int))==0.0).all() and uniques <= par and uniques > 2:
            categorical_features.append(column)
            print("categorical %s unique vals = %d" % (column, df[column].unique().size))
        else:
            numerical_features.append(column)
if(not split):
    numerical_features = df.drop(columns=['label','id']).columns.to_list()
            
print(categorical_features)
print(numerical_features)

categorical b25 unique vals = 3
categorical b33 unique vals = 5
categorical b42 unique vals = 5
categorical b57 unique vals = 3
categorical b71 unique vals = 4
categorical b83 unique vals = 4
['b25', 'b33', 'b42', 'b57', 'b71', 'b83']
['b0', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9', 'b11', 'b14', 'b15', 'b16', 'b18', 'b19', 'b20', 'b21', 'b22', 'b23', 'b24', 'b27', 'b28', 'b29', 'b30', 'b31', 'b32', 'b34', 'b35', 'b36', 'b37', 'b38', 'b41', 'b43', 'b45', 'b47', 'b48', 'b49', 'b50', 'b51', 'b52', 'b53', 'b55', 'b56', 'b59', 'b60', 'b62', 'b63', 'b64', 'b65', 'b66', 'b67', 'b69', 'b70', 'b73', 'b74', 'b75', 'b76', 'b77', 'b78', 'b79', 'b80', 'b84', 'b85', 'b87', 'b88', 'b89', 'b90', 'b91', 'b92', 'b93', 'time', 'a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6']

In [9]:
if(split):
    try:
        df=pd.get_dummies(data=df, columns=categorical_features)
    except KeyError:
        print("Maybe already hot encoded")
print(df.columns.size)

105

In [10]:
from sklearn.model_selection import train_test_split

X=df.drop(columns=['id','label'])
X_train,X_val,y_train,y_val = train_test_split(X,df['label'],test_size=0.20,random_state=42,shuffle=False)  

X.columns

Index(['b0', 'b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9',
       ...
       'b57_94.0', 'b57_102.0', 'b71_0.0', 'b71_1.0', 'b71_2.0', 'b71_3.0',
       'b83_1.0', 'b83_2.0', 'b83_3.0', 'b83_4.0'],
      dtype='object', length=103)

In [11]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
X_train[numerical_features] = scaler.fit_transform(X_train[numerical_features])
X_val[numerical_features] = scaler.transform(X_val[numerical_features])

X_train[numerical_features].head()

,b0,b1,b2,b3,b4,b5,b6,b7,b8,b9,...,b92,b93,time,a0,a1,a2,a3,a4,a5,a6
0,3.075601,0.7,0.0,2.603054,-0.021269,0.00,-1.0,0.850764,-0.514588,0.496411,...,9.133685,0.50,-0.999891,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5.508591,0.0,0.0,0.036256,0.998507,0.00,-1.0,1.313944,0.420374,0.101675,...,1.000000,0.00,-0.999891,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,4.883162,0.0,0.0,-0.247549,0.371269,0.47,-1.0,0.001371,0.284099,0.373206,...,0.000000,-0.25,-0.999891,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,3.876289,0.0,0.0,0.047980,-0.169403,0.20,-1.0,-0.078339,-0.495988,-0.167464,...,0.000000,1.50,-0.999891,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,5.594502,0.0,0.0,-0.337846,0.752612,0.00,-1.0,0.011163,0.232434,-0.228469,...,0.000000,-0.25,-0.999891,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [12]:
skip=False
n_e=15
if not skip:
    from sklearn.linear_model import LinearRegression 
    from sklearn.tree import DecisionTreeRegressor
    from sklearn.ensemble import RandomForestRegressor
    from sklearn.metrics import mean_squared_error
    regr1 = LinearRegression()
    regr2 = DecisionTreeRegressor() 
    regr3 = RandomForestRegressor(n_estimators=n_e,
                                  max_features='auto',
                                  oob_score=True,
                                  n_jobs=-1,
                                  random_state=42,
                                  min_samples_leaf=2)

    regr3.fit(X_train, y_train) 
    pred = regr3.predict(X_val)
    acc = mean_squared_error(pred, y_val)

In [13]:
if not skip:
    import os
    import time
    data = pd.DataFrame({"accuracy":[acc], "time":[time.ctime()], "splitting": split, "pars": par, "n_e":n_e})
    if not os.path.isfile('log.csv'):
        data.to_csv('log.csv', header=True, index=False)
    else:
        data.to_csv('log.csv', mode='a', header=False, index=False)
    pd.read_csv("log.csv")

In [14]:
save=True
if save:
    import pickle
    with open('model_%s'%n_e,'wb') as f:
        pickle.dump(regr3, f)

In [15]:
n_e=100
from sklearn.metrics import mean_squared_error
import pickle
with open('model_%s'%n_e,'rb') as f:
    regr3=pickle.load(f)
    pred = regr3.predict(X_val)
    acc = mean_squared_error(pred, y_val)
    print(acc)

4.275506547219627

In [16]:
checking = True
testfile = 'train.csv'
from sklearn.preprocessing import RobustScaler
from sklearn.metrics import mean_squared_error
tdf = pd.read_csv(testfile)
if checking:
    tdf = tdf.drop(columns=['label'])
columns=columns[:-1]
tdf=tdf[columns]
tdf=pd.get_dummies(tdf, columns=categorical_features)
print(tdf.columns.size)
X_final_test = tdf.drop(columns=['id'])
X_final_test[numerical_features] = scaler.transform(X_final_test[numerical_features])  
tpred = regr3.predict(X_final_test)
print(tpred)
ans = pd.DataFrame({'id':tdf['id'],'label':tpred})
ans.to_csv("submit.csv", index=False, header=True)
if checking:
    d = pd.read_csv("submit.csv")
    acc = mean_squared_error(d['label'], df['label'])
    print(acc)

104
[26.83837778 36.69692222 23.84353016 ...  0.          0.
  0.        ]
1.4130990248163915